.App {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  /*font-family: 'El Messiri', sans-serif;*/
  /*font-family: 'Amatic SC', cursive;*/
}
#App-name{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: GoldenRod ;
  letter-spacing: 2px;
  text-shadow: 1.5px 1.5px gold;
  margin-bottom: 0;
}
#App-sub{
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 2px;
  width: 30%;
  margin-top: 0;
  margin-left: 43%;
  font-size: 7px;
}
.logout{
  color: grey;
  float:right;
}
.button.button-clear, button.button-clear {
  color: grey;
}
/*.App-header {
  background-color: #aaa;
  height: 50px;
  padding: 20px;
  color: white;
  margin-bottom: 2%;
}*/

.App-header h2{
  font-size: 30px;
  margin-bottom: 5px;
  position: inherit;
}

.App-intro {
  font-size: large;
}

.hide{
  display: none;
}
.show{
  display: inherit;
}

#location-form {
  width: 30%;
  height: 5%;
  margin-top: 1%;
  margin-left: 68%;
}
#location-form button {
  margin-left: 43%;
}
#new-parking-form {
  width: 30%;
  margin-right: 68%;
}
.mapbox-popups{
  width:13%;
  position: absolute;
}
.editButton{
  display: inline;
  position: absolute;
  transition: .5s ease;
  top: 70%;
  left: 5%;
}
.deleteButton{
  display: inline;
  position: absolute;
  transition: .5s ease;
  top: 70%;
  right: 5%;
}
.updateButton{
  top: 50%;
}
#new-parking-form {
  margin: 0 auto;
  border: 1px dotted grey;
  border-radius: 5px;
  padding:2%;
}
